<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <!-- UIkit CSS -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.0/dist/css/uikit.min.css" />
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />

        {% endblock %}
        <div class="js-body">

        {% block header %}
            <header>
                <nav class="uk-navbar uk-margin">
                    <div class="uk-navbar-left uk-margin-medium-left">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active">
                                <a href="#">Symfony<strong>Library_project</strong></a>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-navbar-item uk-margin-medium-left uk-visible@s">
                        <form role="search" method="GET" action="{{ path('admin_search_books') }}">
                            <input class="uk-input uk-form-width-small" type="text" name="search" placeholder="Your search">
                            <button class="uk-button uk-button-default" type="submit">Search</button>
                        </form>
                    </div>
                    <div class="uk-navbar-left uk-margin-medium-left">
                        <ul class="uk-navbar-nav uk-visible@s">
                            <li><a href="{{ path ('admin_authors')}}">Authors</a></li>
                            <li><a href="{{ path ('admin_books')}}">Books</a></li>
                            <li><a href="{{ path ('admin_create_author')}}">Insert an author</a></li>
                            <li><a href="{{ path ('admin_create_book')}}">Insert a book</a></li>

                        </ul>
                    </div>

                    <div class="uk-navbar-right uk-margin-medium-right uk-visible@xl">
                            <p class="uk-navbar-nav uk-text-bold uk-visible@s">Bonjour {{ app.user.email }} !</p>

                            <ul class="uk-navbar-nav uk-visible@s">
                                <li><a href="{{ path ('app_logout')}}">Déconnexion</a></li>
                                <li><a href="{{ path ('app_login')}}">Connexion</a></li>

                            </ul>
                            <p uk-margin>
                                <button class="uk-button uk-button-default js-night uk-visible@s">Night Mode</button>
                            </p>

                        </div>

                        <a href="#" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
                </nav>
            </header>

            <div id="sidenav" uk-offcanvas="flip: true" class="uk-offcanvas">
                <div class="uk-offcanvas-bar">
                    <ul class="uk-nav">
                        <br>

                        <li><a href="{{ path ('admin_authors')}}">Authors</a></li>
                        <li><a href="{{ path ('admin_books')}}">Books</a></li>
                        <li><a href="{{ path ('admin_create_author')}}">Insert an author</a></li>
                        <li><a href="{{ path ('admin_create_book')}}">Insert a book</a></li>

                        <br>
                        <form role="search" method="GET" action="{{ path('admin_search_books') }}">
                            <input class="uk-input uk-form-width-small" type="text" name="search" placeholder="Your search">
                            <br>
                            <br>
                            <button class="uk-button uk-button-default" type="submit">Search</button>
                        </form>
                        <br>
                        <br>
                        <li><a href="{{ path ('app_logout')}}">Déconnexion</a></li>
                        <li><a href="{{ path ('app_login')}}">Connexion</a></li>
                    </ul>
                </div>
            </div>



            </header>
        {% endblock %}

        {% for message in app.flashes('success') %}
            <p class="flash">{{ message }}</p>
        {% endfor %}


        {% block main %}
        {% endblock %}



</div>

        {% block javascripts %}
            <script src="{{ asset('assets/js/main.js') }}"></script>
            <!-- UIkit JS -->
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.0/dist/js/uikit.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.0/dist/js/uikit-icons.min.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
